body {
  font-family: Helvetica;
  text-align: center;
}

h1,
h4,
h5 {
  background-image: url('Resources/images/the-flatiron-building.png');
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
   font-size: 23px;
   font-weight: bold;
}

h4 {
  font-size: 18px;
  color: white;
}

 h5 {
   font-size: 23px:
   font-weight: bold;
   color: white;
 }

 h6 {
   font-size: 14px;
 }

 p {
   font-size: 11px;
   color: white;
   background-color: dimgray;
   text-align: left;
 }
